Temas:

1. Números,
2. Variables,
3. Manejo de Cadenas,
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [2]:
# 5.1 Operadores aritméticos
# Se tiene: +, -, *, /, **, %, //

In [8]:
numero1 = 10
numero2 = 13
suma = numero1 + numero2
resta = numero1 - numero2
multi = numero1 * numero2
div = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multi)
print(div)
print(residuo)
print(cociente)
print(potencia)

23
-3
130
0.7692307692307693
10
0
10000000000000

In [9]:
# 5.2 Operadores de asignación
numero = 10
numero = numero + 3
print(numero)

13

In [10]:
numero = 7
numero += 3
print(numero)

10

In [11]:
numero = 5
numero = numero ** 3
print(numero)

125

In [12]:
# 5.3 Operadores de comparación

In [13]:
# Ejemplo de igualdad ==
numero1 = 6
numero2 = 5
numero1 == numero2

False

In [14]:
# Con las cadenas funciona igual
nombre1 = "Andre"
nombre2 = "Andre"
nombre1 == nombre2

True

In [15]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 3
numero2 = 4
numero3 = 5
numero4 = 6

In [16]:
numero1 < numero2

True

In [17]:
# El not invierte el resultado
not(numero1<numero2)

False

In [18]:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [19]:
# ¿Diego está en aula?
alumno1 in aula

False

In [20]:
# ¿Juan está en aula?
alumno2 in aula

True

In [21]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [22]:
aula1 = ["Maria", "Alvaro", "Rubi"]
aula2 = ["Maria", "Alvaro", "Rubi"]
# A continuación vamos a indicar que aula3 va a
# compartir el mismo objeto que aula1
aula3 = aula1

In [23]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True